* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(139, 231, 255);
}

canvas {
    background-color: rgb(255, 255, 255);
    margin-top: 32px;
    border-style: solid;
}
