<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: hsl(200, 50%, 70%);
}

canvas {
    background-color: hsl(0,100%,100%);
    margin-top: 32px;
    border-style: solid;
    float: left;
}

body {
    font-family: 'Aldrich', monospace;
}

a {
    font-size: 24px;
}

#text {
    float: left;
    margin-top: 32px;
    padding-left: 32px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h1 {
    font-size: 62px;
}
