* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: ##8BE7FF;
}

canvas {
    background-color: ##8BE7FF;
    margin-top: 32px;
    border-style: solid;
}
